/**
 * Created by Yongnanzhu on 5/3/2014.
 */
* { margin:0; padding:0 }
html { height:100%; color:#aaa; }
body { font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; background:#111; color:#aaaaaa;margin: 0;
    overflow: hidden; }

#navigationBar canvas {margin:0 0 -5px 0; z-index:-300;background:#666699}    /*background:#666699*/

.bubble { border:solid 0 red; background:#5a5353; float:left; margin:0;}

#bubble canvas { margin:0 0 -5px 0; z-index:0; }
#bgCanvas {cursor:auto;z-index:-10}

.dragheader { background:transparent; color:#fff; font-weight:bold; font-size:0.9em;letter-spacing:1px;text-align: center;
    padding:5px 0 5px 0.5em; cursor:move; position:relative; bottom:0px; margin:0 0 0 0; }
.dragheader:hover {color:red z-index:120;}
/*.dragheader a { color:orange; cursor:pointer!important } */

.close { color:red; float:right; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-weight:bold; cursor:pointer; padding:0 0.4em;
		position:relative; right:1em; margin-right:-1em }
.open_para{ color:red; float:right; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif; font-weight:bold; cursor:pointer; padding:0 0.4em;
    position:relative; right:1em; margin-right:-1em }

.widget { margin:1em; padding:1em; float:left; background:#0a0a0a; }

.para_header { background:transparent; color:#fff; font-weight:normal;letter-spacing:1px; font-size:0.9em;text-align: center;
    padding:5px 0 5px 0.5em; cursor:move; position:relative; bottom:0px; margin:0 0 0 0; }

.widget .close { color:red; font-size:0.7em; text-align: center; position:relative; top:-1em; left:1em; margin:0 0 -1em 0; padding:0; }
.widget .close:hover { color:red }
.para { color:#fff; font-size:0.7em; text-align: center; position:relative; top:-0.5em; left:0.5em; margin:0 0 -0.5em 0; padding:1px 1px 1px 0.5em }

.widget .close_para { color:#222; font-size:0.7em; text-align: center; position:relative; top:-1em; left:1em; margin:0 0 -1em 0; padding:0;cursor:pointer; }
.widget .close_para:hover { color:red }

.button { display:inline; cursor:pointer; color:#555; background:transparent; font-size:0.9em; padding:0.5em 0.25em; position:relative; margin:-20px 0 0 0 }
.on { color:#aaa }

.shadow { box-shadow:0px 3px 15px #333333; /*rgba(0,0,0,1)*/}
.clr { clear:both }
